@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  text-align: center;
  background-color: rgb(31, 31, 31);
  font-family: "Montserrat", sans-serif;
}

.anime {
  width: 33.3%;
}

.animeGirls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: 550vw;
  margin-top: 50px;
}

.cat {
  width: 100%;
  top: 0%;
  position: fixed;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(248, 176, 89);
}

.fact {
  padding: 0px 5%;
  width: 60%;
}

@media only screen and (max-width: 700px) {
  .cat {
    height: 100px;
  }
  .animeGirls {
    margin-top: 100px;
  }
}
